.deletePostBtn{
  color: darkred;
  cursor: pointer;
}
.deletePostBtn:hover{
  color: red;
}
.deletePostBtn:active{
  color: tomato;
}
.changeTextBtn{
  color: darkblue;
  cursor: pointer;
}
.changeTextBtn:hover{
  color: blue;
}
.changeTextBtn:active{
  color: deepskyblue;
}
